# Виртуальное окружение
.venv/
venv/
env/

# Дистрибутивы и сборки
dist/
build/
*.egg-info/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Poetry
poetry.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

